<!-- <ion-header [translucent]="true">
   <ion-toolbar>
    <ion-title>
      Zajęcia WSB
    </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">
 
  <h1>Zajęcia WSB 13.06.2020</h1>
</ion-content> -->



<!-- <ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    
    <ion-title slot="end">Nagłówek</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
 
  <h1>Zajęcia WSB 13.06.2020</h1>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Footer - No border</ion-title>
  </ion-toolbar>
</ion-footer> -->


<!-- PUSH AND PULL -->

<!-- <ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Header</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>

      <ion-row>
        <ion-col size="9" push="3">
          <div>
            1 of 3
          </div>
        </ion-col>
        <ion-col size="3" pull="9">
          <div>
            2 of 3 (wider)
          </div>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-content>
</ion-app> -->



<!-- SITE -->
<!-- header -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-col size="8">

        <ion-chip>
          <ion-avatar>
            <img src="assets/person.jpg">
          </ion-avatar>
          <ion-label>User Name</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col text-align: end>
        <ion-icon name="search-sharp"></ion-icon>
      </ion-col>
      <ion-col text-align: end>
        <ion-icon name="apps"></ion-icon>
      </ion-col>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<!-- content -->
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/city.jpg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </ion-card-content>
  </ion-card>
  <ion-card>
   
   
  </ion-card>
</ion-content>

<!-- footer -->
<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Speakers</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <div>TEST</div>

</ion-footer>